@CHARSET "utf-8";
 
 .c_sidebar{
 	margin-top: 139px;
  	float: left;
 }
 .c_content{
 	margin-top: 150px;
 	width: 695px;
  	display: inline-block;
 	margin-left: 6px;
 }
 #cat_list{
	background-color: white;
	min-height: 50px;
	margin-top: 7px;  
	border-color: rgb(229, 217, 152);
 	border-style: solid;
    border-width: 1px;kground-color: white;
    margin-bottom: 50px;
 }
 #post_view{
 	margin-left: 116px;
	margin-right: 55px;
  	margin-top: -25px;
 }
 #lane{
 	width: 515px;
  	margin-left: 117px;
  	height: 5px;
  	background: blue;
 }