@CHARSET "utf-8";
#head {
	height: 125px;
	position: relative;
	z-index: 2;
}

.table {
	display: table;
	margin: 0 auto;
}

ul#header-images{
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	margin-bottom: 20px;
	margin-left:  23px;
	}
	
ul#header-images li {
	display: inline;
	padding-right: 40px;
}
p#top_info{
  	margin-bottom: -33px;
 	margin-top: 10px;
 	margin-left: 71px;
 	color: white;
}

